In [16]:
from kedro.io import DataCatalog
from kedro.extras.datasets.pandas import CSVDataSet

In [2]:
context

In [3]:
%reload_kedro

2021-09-07 11:12:19,610 - kedro.framework.session.store - INFO - `read()` not implemented for `BaseSessionStore`. Assuming empty store.
2021-09-07 11:12:19,740 - root - INFO - ** Kedro project spaceflights
2021-09-07 11:12:19,742 - root - INFO - Defined global variable `context`, `session` and `catalog`
2021-09-07 11:12:19,756 - root - INFO - Registered line magic `run_viz`

## Set Up Data
#### 1)check whether Kedro can load the data correctly
#### 2)Add company names to companies.csv

In [4]:
# hen you add new datasets to your catalog.yml file 
# you need to reload Kedroâ€™s session by running %reload_kedro in your cell

%reload_kedro

2021-09-07 11:13:43,555 - kedro.framework.session.store - INFO - `read()` not implemented for `BaseSessionStore`. Assuming empty store.
2021-09-07 11:13:43,680 - root - INFO - ** Kedro project spaceflights
2021-09-07 11:13:43,681 - root - INFO - Defined global variable `context`, `session` and `catalog`
2021-09-07 11:13:43,701 - root - INFO - Registered line magic `run_viz`

In [5]:
companies = catalog.load("companies")
companies.head()

2021-09-07 11:13:44,445 - kedro.io.data_catalog - INFO - Loading data from `companies` (CSVDataSet)...

,id,company_rating,company_location,total_fleet_count,iata_approved
0,35029,100%,Niue,4.0,f
1,30292,67%,Anguilla,6.0,f
2,19032,67%,Russian Federation,4.0,f
3,8238,91%,Barbados,15.0,t
4,30342,NaN,Sao Tome and Principe,2.0,t

In [6]:
shuttles = catalog.load("shuttles")
shuttles.head()

2021-09-07 11:14:06,075 - kedro.io.data_catalog - INFO - Loading data from `shuttles` (ExcelDataSet)...

c:\users\asus\anaconda3\envs\kedro-environment\lib\site-packages\kedro\extras\datasets\pandas\excel_dataset.py:168: FutureWarning: Your version of xlrd is 1.2.0. In xlrd >= 2.0, only the xls format is supported. Install openpyxl instead.
  return pd.read_excel(fs_file, **self._load_args)
c:\users\asus\anaconda3\envs\kedro-environment\lib\site-packages\xlrd\xlsx.py:39: DeprecationWarning: defusedxml.cElementTree is deprecated, import from defusedxml.ElementTree instead.
  try: import defusedxml.cElementTree as ET

,id,shuttle_location,shuttle_type,engine_type,engine_vendor,engines,passenger_capacity,cancellation_policy,crew,d_check_complete,moon_clearance_complete,price,company_id
0,63561,Niue,Type V5,Quantum,ThetaBase Services,1.0,2,strict,1.0,f,f,"$1,325.0",35029
1,36260,Anguilla,Type V5,Quantum,ThetaBase Services,1.0,2,strict,1.0,t,f,"$1,780.0",30292
2,57015,Russian Federation,Type V5,Quantum,ThetaBase Services,1.0,2,moderate,0.0,f,f,"$1,715.0",19032
3,14035,Barbados,Type V5,Plasma,ThetaBase Services,3.0,6,strict,3.0,f,f,"$4,770.0",8238
4,10036,Sao Tome and Principe,Type V2,Plasma,ThetaBase Services,2.0,4,strict,2.0,f,f,"$2,820.0",30342

In [7]:
reviews = catalog.load("reviews")
reviews.head()

2021-09-07 11:14:30,507 - kedro.io.data_catalog - INFO - Loading data from `reviews` (CSVDataSet)...

,shuttle_id,review_scores_rating,review_scores_comfort,review_scores_amenities,review_scores_trip,review_scores_crew,review_scores_location,review_scores_price,number_of_reviews,reviews_per_month
0,63561,97.0,10.0,9.0,10.0,10.0,9.0,10.0,133,1.65
1,36260,90.0,8.0,9.0,10.0,9.0,9.0,9.0,3,0.09
2,57015,95.0,9.0,10.0,9.0,10.0,9.0,9.0,14,0.14
3,14035,93.0,10.0,9.0,9.0,9.0,10.0,9.0,39,0.42
4,10036,98.0,10.0,10.0,10.0,10.0,9.0,9.0,92,0.94

In [16]:
company_names = catalog.load("company_names")
company_names.head()

2021-09-07 11:17:53,783 - kedro.io.data_catalog - INFO - Loading data from `company_names` (ExcelDataSet)...

c:\users\asus\anaconda3\envs\kedro-environment\lib\site-packages\kedro\extras\datasets\pandas\excel_dataset.py:168: FutureWarning: Your version of xlrd is 1.2.0. In xlrd >= 2.0, only the xls format is supported. Install openpyxl instead.
  return pd.read_excel(fs_file, **self._load_args)

   id        company_name
0   1             Walmart
1   2              Amazon
2   3               Apple
3   4          CVS Health
4   5  UnitedHealth Group

#### Merge company name.xlsx and company.csv & update in data catalog

In [1]:
import os
import pandas as pd
import numpy as np

cwd = os.path.abspath('C:\\Users\\ASUS\\Desktop\\Career\\Python\\GitHub\\msm_viz\\spaceflights-kedro\\data\\01_raw') 
files = os.listdir(cwd)
cwd

'C:\\Users\\ASUS\\Desktop\\Career\\Python\\GitHub\\msm_viz\\spaceflights-kedro\\data\\01_raw'

In [2]:
files

['.gitkeep',
 'Allcompanies.csv',
 'companies.csv',
 'company_names.csv',
 'company_names.xlsx',
 'reviews.csv',
 'shuttles.xlsx']

In [11]:
### 1.Convert company_name.xlsx to .csv file

#importing pandas as pd
import pandas as pd
  
# Read and store content
# of an excel file 
read_file = pd.read_excel ("C:\\Users\\ASUS\\Desktop\\Career\\Python\\GitHub\\msm_viz\\spaceflights-kedro\\data\\01_raw\\company_names.xlsx")
  
# Write the dataframe object
# into csv file
read_file.to_csv ("C:\\Users\\ASUS\\Desktop\\Career\\Python\\GitHub\\msm_viz\\spaceflights-kedro\\data\\01_raw\\company_names.csv", 
                  index = None,
                  header=True)
    
# read csv file and convert into a dataframe object
df = pd.DataFrame(pd.read_csv("C:\\Users\\ASUS\\Desktop\\Career\\Python\\GitHub\\msm_viz\\spaceflights-kedro\\data\\01_raw\\company_names.csv"))
  
# show the dataframe
df

          id        company_name
0          1             Walmart
1          2              Amazon
2          3               Apple
3          4          CVS Health
4          5  UnitedHealth Group
...      ...                 ...
76647  76648    Tsqlxfcgwovguvrx
76648  76649    Uvsxajfnpyvvubrn
76649  76650    Nibhidewmkudfhim
76650  76651    Qqvuehzbqlggwpgg
76651  76652    Wmthujwcidrbehng

[76652 rows x 2 columns]

In [5]:
### 2.Merge files to new file called "Allcompanies"

df1 = pd.read_csv("C:\\Users\\ASUS\\Desktop\\Career\\Python\\GitHub\\msm_viz\\spaceflights-kedro\\data\\01_raw\\companies.csv")
df2 = pd.read_excel("C:\\Users\\ASUS\\Desktop\\Career\\Python\\GitHub\\msm_viz\\spaceflights-kedro\\data\\01_raw\\company_names.xlsx")

merged = df2.merge(df1, on='id', how='inner')
merged.to_csv("C:\\Users\\ASUS\\Desktop\\Career\\Python\\GitHub\\msm_viz\\spaceflights-kedro\\data\\01_raw\\Allcompanies.csv", index=False)

In [13]:
# read file
Allcompanies = pd.read_csv("C:\\Users\\ASUS\\Desktop\\Career\\Python\\GitHub\\msm_viz\\spaceflights-kedro\\data\\01_raw\\Allcompanies.csv")
Allcompanies

,id,company_name,company_rating,company_location,total_fleet_count,iata_approved
0,1,Walmart,NaN,Anguilla,2.0,t
1,1,Walmart,NaN,Anguilla,2.0,t
2,2,Amazon,NaN,Uzbekistan,1.0,t
3,3,Apple,NaN,Micronesia,1.0,f
4,4,CVS Health,80%,Guinea,1.0,f
...,...,...,...,...,...,...
77091,50095,Bsfoyagdsgdsrrzx,NaN,Cocos (Keeling) Islands,1.0,f
77092,50096,Xixzoqmzinhcbbdc,NaN,Indonesia,1.0,t
77093,50097,Pwlsqczwabazgtuw,90%,NaN,1.0,f
77094,50098,Rhsqotdaqwsnjeke,NaN,Marshall Islands,2.0,f
77095,50098,Rhsqotdaqwsnjeke,NaN,Marshall Islands,2.0,f

In [14]:
#update new "Allcompanies.csv" to catalog.yml as companies

#companies:
  #type: pandas.CSVDataSet
  #filepath: data/01_raw/Allcompanies.csv

In [19]:
%reload_kedro

#When you add new datasets to your catalog.yml file you need to reload Kedroâ€™s session by running %reload_kedro in your cell

2021-09-07 11:19:10,783 - kedro.framework.session.store - INFO - `read()` not implemented for `BaseSessionStore`. Assuming empty store.
2021-09-07 11:19:10,932 - root - INFO - ** Kedro project spaceflights
2021-09-07 11:19:10,932 - root - INFO - Defined global variable `context`, `session` and `catalog`
2021-09-07 11:19:10,967 - root - INFO - Registered line magic `run_viz`

In [20]:
#check file if it is properly updated
companies = catalog.load("companies")
companies.head()

2021-09-07 11:19:11,856 - kedro.io.data_catalog - INFO - Loading data from `companies` (CSVDataSet)...

,id,company_name,company_rating,company_location,total_fleet_count,iata_approved
0,1,Walmart,NaN,Anguilla,2.0,t
1,1,Walmart,NaN,Anguilla,2.0,t
2,2,Amazon,NaN,Uzbekistan,1.0,t
3,3,Apple,NaN,Micronesia,1.0,f
4,4,CVS Health,80%,Guinea,1.0,f

## Create a pipeline

### Data processing pipeline
#### 1.Create Node functions

1) Use notebook to write node function\
2) Add tags as node\
3) convert .ipynb to .py using command:
> `pip install ipython` #skip if already installed\
> `pip install nbconvert`  #skip if already installed

> `jupyter nbconvert nodes.ipynb --to python`


##### Alternative - How to convert notebook cells to nodes in a Kedro project
You can move notebook code over into a Kedro project structure using a mixture of [cell tagging](https://jupyter-notebook.readthedocs.io/en/stable/changelog.html#cell-tags) and Kedro CLI commands.

By adding the `node` tag to a cell and running the command below, the cell's source code will be copied over to a Python file within `src/<package_name>/nodes/`:

```
kedro jupyter convert <filepath_to_my_notebook>
```
> *Note:* The name of the Python file matches the name of the original notebook.

Alternatively, you may want to transform all your notebooks in one go. Run the following command to convert all notebook files found in the project root directory and under any of its sub-folders:

```
kedro jupyter convert --all
```

#### nodes.py
#Node functions: to preprocess data

#Create a file `src/spaces2/pipelines/data_processing/nodes.py`, adding the subfolders too if necessary.
```
from kedro.pipeline import *
from kedro.io import *
from kedro.runner import *

import pickle
import os

import pandas as pd


def _is_true(x):
    return x == "t"


def _parse_percentage(x):
    x = x.str.replace("%", "")
    x = x.astype(float) / 100
    return x


def _parse_money(x):
    x = x.str.replace("$", "").str.replace(",", "")
    x = x.astype(float)
    return x


def preprocess_companies(companies: pd.DataFrame) -> pd.DataFrame:
    """Preprocesses the data for companies.

    Args:
        companies: Raw data.
    Returns:
        Preprocessed data, with `company_rating` converted to a float and
        `iata_approved` converted to boolean.
    """
    companies["iata_approved"] = _is_true(companies["iata_approved"])
    companies["company_rating"] = _parse_percentage(companies["company_rating"])
    return companies


def preprocess_shuttles(shuttles: pd.DataFrame) -> pd.DataFrame:
    """Preprocesses the data for shuttles.

    Args:
        shuttles: Raw data.
    Returns:
        Preprocessed data, with `price` converted to a float and `d_check_complete`,
        `moon_clearance_complete` converted to boolean.
    """
    shuttles["d_check_complete"] = _is_true(shuttles["d_check_complete"])
    shuttles["moon_clearance_complete"] = _is_true(shuttles["moon_clearance_complete"])
    shuttles["price"] = _parse_money(shuttles["price"])
    return shuttles
```

#### 2.Nodes to data processing pipeline
Add the following to `src/spaces2/pipelines/data_processing/pipeline.py`

#### pipeline.py
```
from kedro.pipeline import Pipeline, node

from .nodes import preprocess_companies, preprocess_shuttles

def create_pipeline(**kwargs):
    return Pipeline(
        [
            node(
                func=preprocess_companies,
                inputs="companies",
                outputs="preprocessed_companies",
                name="preprocess_companies_node",
            ),
            node(
                func=preprocess_shuttles,
                inputs="shuttles",
                outputs="preprocessed_shuttles",
                name="preprocess_shuttles_node",
            ),
        ]
    )
```

create a file `src/spaces2/pipelines/data_processing/__init__.py` containing the following:
```
from .pipeline import create_pipeline  # NOQA
```

#### 3.update project  pipeline

Update the projectâ€™s pipeline in `src/kedro_tutorial/pipeline_registry.py` to add the modular pipeline for data processing:

```
from typing import Dict

from kedro.pipeline import Pipeline

from python_package.pipelines import data_processing as dp


def register_pipelines() -> Dict[str, Pipeline]:
    """Register the project's pipeline.

    Returns:
    A mapping from a pipeline name to a ``Pipeline`` object.

    """
    data_processing_pipeline = dp.create_pipeline()

    return {
        "__default__": data_processing_pipeline,
        "dp": data_processing_pipeline,
    }
```

Run the following command in your terminal window to test the node named preprocess_companies_node:

`kedro run --node=preprocess_companies_node`\
`kedro run`

#### 4.Persist pre-processed data
The nodes above each output a new dataset (preprocessed_companies and preprocessed_shuttles). When Kedro ran the pipeline, it determined that neither datasets had been registered in the data catalog `conf/base/catalog.yml`

persist the preprocessed data by adding the following to `conf/base/catalog.yml`:

```
preprocessed_companies:
  type: pandas.CSVDataSet
  filepath: data/02_intermediate/preprocessed_companies.csv

preprocessed_shuttles:
  type: pandas.CSVDataSet
  filepath: data/02_intermediate/preprocessed_shuttles.csv
```

`kedro run`
to save .csv files in data/02_intermediate/

In [4]:
%reload_kedro

2021-09-03 14:06:49,416 - kedro.framework.session.store - INFO - `read()` not implemented for `BaseSessionStore`. Assuming empty store.
2021-09-03 14:06:49,483 - kedro.framework.session.session - WARNING - Unable to git describe C:\Users\ASUS\Desktop\Career\Python\GitHub\repo_name
2021-09-03 14:06:49,512 - root - INFO - ** Kedro project Kedro Tutorial
2021-09-03 14:06:49,514 - root - INFO - Defined global variable `context`, `session` and `catalog`
2021-09-03 14:06:49,530 - root - INFO - Registered line magic `run_viz`

#### 5.Extend the data processing pipeline - Merge data into 1  table

add the create_model_input_table() function from the snippet below to `src/spaces2/pipelines/data_processing/nodes.py`

```
def create_model_input_table(
    shuttles: pd.DataFrame, companies: pd.DataFrame, reviews: pd.DataFrame
) -> pd.DataFrame:
    """Combines all data to create a model input table.

    Args:
        shuttles: Preprocessed data for shuttles.
        companies: Preprocessed data for companies.
        reviews: Raw data for reviews.
    Returns:
        model input table.

    """
    rated_shuttles = shuttles.merge(reviews, left_on="id", right_on="shuttle_id")
    model_input_table = rated_shuttles.merge(companies, left_on="company_id", right_on="id")
    model_input_table = model_input_table.dropna()
    return model_input_table
    
```

add to `src/kedro_tutorial/pipelines/data_processing/nodes.py`
```
from .nodes import create_model_input_table, preprocess_companies, preprocess_shuttles

node(
    func=create_model_input_table,
    inputs=["preprocessed_shuttles", "preprocessed_companies", "reviews"],
    outputs="model_input_table",
    name="create_model_input_table_node",
),

```

model input table data to be saved to file rather than used in-memory, add an entry to `conf/base/catalog.yml`:
```
model_input_table:
  type: pandas.CSVDataSet
  filepath: data/03_primary/model_input_table.csv
```

`kedro run`
to save .csv files in data/03_primary/

#### Error while loading Preprocess_companies
'utf-8' codec can't decode byte 0xe9 in position 9901: invalid continuation byte

In [29]:
#Trying to reading preprocess_companies.csv

import pandas as pd
file = 'C:\\Users\\ASUS\\Desktop\\Career\\Python\\GitHub\\msm_viz\\spaceflights-kedro\\data\\02_intermediate\\preprocessed_companies.csv'
precompanies = pd.read_csv(file)

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 9901: invalid continuation byte

#### How to read .CSV file with encoding error

If you get a unicode decode error then next you need to try to determine what the character encoding is

```
import chardet
with open(file, 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result
```

Now you can manually define the encoding in pd.read_csv()
```
precompanies = pd.read_csv(file,encoding='ISO-8859-1')
precompanies.head()
```

Converting preprocess_companies to utf-8 format
```
import codecs
BLOCKSIZE = 200000 # or some other, desired size in bytes

file = 'C:\\Users\\ASUS\\Desktop\\Career\\Python\\GitHub\\msm_viz\\spaceflights-kedro\\data\\02_intermediate\\preprocessed_companies.csv'
target = "C:\\Users\\ASUS\\Desktop\\Career\\Python\\GitHub\\msm_viz\\spaceflights-kedro\\data\\02_intermediate\\preprocessed_companies2.csv"

with codecs.open(file, "r", "ISO-8859-1") as sourceFile:
    with codecs.open(target, "w", "utf-8") as targetFile:
        while True:
            contents = sourceFile.read(BLOCKSIZE)
            if not contents:
                break
            targetFile.write(contents)
```
```
import pandas as pd
newfile = 'C:\\Users\\ASUS\\Desktop\\Career\\Python\\GitHub\\msm_viz\\spaceflights-kedro\\data\\02_intermediate\\preprocessed_companies2.csv'

preprocessed_companies2 = pd.read_csv(newfile)
preprocessed_companies2.head()
```

### Resolve encoding error in kedro `catalog.yml`

Add encoding in file configuration
```
preprocessed_companies:
  type: pandas.CSVDataSet
  filepath: data/02_intermediate/preprocessed_companies.csv
  load_args:
    encoding: 'latin_1'
    
preprocessed_shuttles:
  type: pandas.CSVDataSet
  filepath: data/02_intermediate/preprocessed_shuttles.csv
    
model_input_table:
  type: pandas.CSVDataSet
  filepath: data/03_primary/model_input_table.csv
  load_args:
    encoding: 'latin_1'
```

In [1]:
#Check file if there is still error

%reload_kedro

2021-09-07 14:26:32,663 - kedro.framework.session.store - INFO - `read()` not implemented for `BaseSessionStore`. Assuming empty store.
2021-09-07 14:26:32,782 - root - INFO - ** Kedro project space2
2021-09-07 14:26:32,782 - root - INFO - Defined global variable `context`, `session` and `catalog`
2021-09-07 14:26:32,811 - root - INFO - Registered line magic `run_viz`

In [2]:
model_input_table = catalog.load("model_input_table")
model_input_table.head()

2021-09-07 14:26:33,810 - kedro.io.data_catalog - INFO - Loading data from `model_input_table` (CSVDataSet)...

,id_x,shuttle_location,shuttle_type,engine_type,engine_vendor,engines,passenger_capacity,cancellation_policy,crew,d_check_complete,...,review_scores_location,review_scores_price,number_of_reviews,reviews_per_month,id_y,company_name,company_rating,company_location,total_fleet_count,iata_approved
0,63561,Niue,Type V5,Quantum,ThetaBase Services,1.0,2,strict,1.0,False,...,9.0,10.0,133,1.65,35029,Fypqnqsriwkgfvdi,1.0,Niue,4.0,False
1,63561,Niue,Type V5,Quantum,ThetaBase Services,1.0,2,strict,1.0,False,...,9.0,10.0,133,1.65,35029,Fypqnqsriwkgfvdi,1.0,Niue,4.0,False
2,63561,Niue,Type V5,Quantum,ThetaBase Services,1.0,2,strict,1.0,False,...,9.0,10.0,133,1.65,35029,Fypqnqsriwkgfvdi,1.0,Niue,4.0,False
3,63561,Niue,Type V5,Quantum,ThetaBase Services,1.0,2,strict,1.0,False,...,9.0,10.0,133,1.65,35029,Fypqnqsriwkgfvdi,1.0,Niue,4.0,False
4,53260,Niue,Type V5,Quantum,"Banks, Wood and Phillips",1.0,2,strict,1.0,False,...,9.0,10.0,37,0.48,35029,Fypqnqsriwkgfvdi,1.0,Niue,4.0,False

In [30]:
model_input_table.info

<bound method DataFrame.info of          id_x           shuttle_location shuttle_type engine_type  \
0       63561                       Niue      Type V5     Quantum
1       63561                       Niue      Type V5     Quantum
2       63561                       Niue      Type V5     Quantum
3       63561                       Niue      Type V5     Quantum
4       53260                       Niue      Type V5     Quantum
...       ...                        ...          ...         ...
759604  39094         Russian Federation      Type F5     Quantum
759605  20330                 Uzbekistan      Type V5     Quantum
759606  16445                  Nicaragua      Type V5      Plasma
759607  76469  Bouvet Island (Bouvetoya)      Type V5     Quantum
759608  75780         Russian Federation      Type V5      Plasma

                   engine_vendor  engines  passenger_capacity  \
0             ThetaBase Services      1.0                   2
1             ThetaBase Services      1.0                   2
2             ThetaBase Services      1.0                   2
3             ThetaBase Services      1.0                   2
4       Banks, Wood and Phillips      1.0                   2
...                          ...      ...                 ...
759604        ThetaBase Services      1.0                   2
759605        ThetaBase Services      1.0                   2
759606        ThetaBase Services      1.0                   1
759607        ThetaBase Services      1.0                   2
759608        ThetaBase Services      1.0                   2

       cancellation_policy  crew  d_check_complete  ...  \
0                   strict   1.0             False  ...
1                   strict   1.0             False  ...
2                   strict   1.0             False  ...
3                   strict   1.0             False  ...
4                   strict   1.0             False  ...
...                    ...   ...               ...  ...
759604              strict   1.0             False  ...
759605            flexible   1.0             False  ...
759606            flexible   3.0             False  ...
759607            moderate   1.0             False  ...
759608              strict   1.0              True  ...

        review_scores_location  review_scores_price  number_of_reviews  \
0                          9.0                 10.0                133
1                          9.0                 10.0                133
2                          9.0                 10.0                133
3                          9.0                 10.0                133
4                          9.0                 10.0                 37
...                        ...                  ...                ...
759604                    10.0                 10.0                  1
759605                    10.0                 10.0                  1
759606                    10.0                 10.0                  3
759607                    10.0                 10.0                  1
759608                    10.0                 10.0                  1

        reviews_per_month   id_y      company_name  company_rating  \
0                    1.65  35029  Fypqnqsriwkgfvdi             1.0
1                    1.65  35029  Fypqnqsriwkgfvdi             1.0
2                    1.65  35029  Fypqnqsriwkgfvdi             1.0
3                    1.65  35029  Fypqnqsriwkgfvdi             1.0
4                    0.48  35029  Fypqnqsriwkgfvdi             1.0
...                   ...    ...               ...             ...
759604               1.00  42904  Skabiiolyyrdfljp             0.7
759605               1.00   5701  Atjrhvbdrafpqidf             1.0
759606               3.00  13728  Icmkofshzjcclzmp             1.0
759607               1.00  41714  Xqjdmpyloghgdjwd             1.0
759608               1.00  47766  Sroxgfxlinmkilxt             1.0

          company_location  total_fleet_count  iata_approved
0                     Niue                4.0          False
1                     Niue                4.0          False
2                     Niue                4.0          False
3                     Niue                4.0          False
4                     Niue                4.0          False
...                    ...                ...            ...
759604  Russian Federation                2.0           True
759605          Costa Rica                1.0           True
759606            Pakistan                1.0          False
759607             Lebanon                1.0          False
759608          Uzbekistan                1.0           True

[759609 rows x 29 columns]>

### Data science pipeline
we will create the data science pipeline for price prediction, which uses the `LinearRegression` implementation from the `"scikit-learn"` library.

1. Add `scikit-learn==0.23.1` to `src/requirements.in`
2. re-run `kedro install --build-reqs`

#### Nodes.py
Create a file `src/space2/pipelines/data_science/nodes.py`, adding the subfolders too if necessary. Add the following code to the file:

```
import logging
from typing import Dict, Tuple

import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split


def split_data(data: pd.DataFrame, parameters: Dict) -> Tuple:
    """Splits data into features and targets training and test sets.

    Args:
        data: Data containing features and target.
        parameters: Parameters defined in parameters.yml.
    Returns:
        Split data.
    """
    X = data[parameters["features"]]
    y = data["price"]
    X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=parameters["test_size"], random_state=parameters["random_state"]
    )
    return X_train, X_test, y_train, y_test


def train_model(X_train: pd.DataFrame, y_train: pd.Series) -> LinearRegression:
    """Trains the linear regression model.

    Args:
        X_train: Training data of independent features.
        y_train: Training data for price.

    Returns:
        Trained model.
    """
    regressor = LinearRegression()
    regressor.fit(X_train, y_train)
    return regressor


def evaluate_model(
    regressor: LinearRegression, X_test: pd.DataFrame, y_test: pd.Series
):
    """Calculates and logs the coefficient of determination.

    Args:
        regressor: Trained model.
        X_test: Testing data of independent features.
        y_test: Testing data for price.
    """
    y_pred = regressor.predict(X_test)
    score = r2_score(y_test, y_pred)
    logger = logging.getLogger(__name__)
    logger.info("Model has a coefficient R^2 of %.3f on test data.", score)
    
```

#### Input Parameter

Add the following to `conf/base/parameters.yml`:
```
test_size: 0.2
random_state: 3
features:
  - engines
  - passenger_capacity
  - crew
  - d_check_complete
  - moon_clearance_complete
  - iata_approved
  - company_rating
  - review_scores_rating
  
```

#### Register Regressor
The next step is to register the dataset that will save the trained model, by adding the following definition to `conf/base/catalog.yml`:
```
regressor:
  type: pickle.PickleDataSet
  filepath: data/06_models/regressor.pickle
  versioned: true
```

#### Pipeline.py
`src/space2/pipelines/data_science/pipeline.py`

```
from kedro.pipeline import Pipeline, node

from .nodes import evaluate_model, split_data, train_model

def create_pipeline(**kwargs):
    return Pipeline(
        [
            node(
                func=split_data,
                inputs=["model_input_table", "parameters"],
                outputs=["X_train", "X_test", "y_train", "y_test"],
                name="split_data_node",
            ),
            node(
                func=train_model,
                inputs=["X_train", "y_train"],
                outputs="regressor",
                name="train_model_node",
            ),
            node(
                func=evaluate_model,
                inputs=["regressor", "X_test", "y_test"],
                outputs=None,
                name="evaluate_model_node",
            ),
        ]
    )
```

Ensure that the data science modular pipeline is a Python package. To do so, create the file

`src/space2/pipelines/data_science/__init__.py` containing the following:
    
```
from .pipeline import create_pipeline  # NOQA
```

#### Update pipeline_registry.py

Replacing the code in register_pipelines in `src/kedro_tutorial/pipeline_registry.py` with the following:
```
from typing import Dict

from kedro.pipeline import Pipeline

from spaceflights.pipelines import data_processing as dp
from spaceflights.pipelines import data_science as ds


def register_pipelines() -> Dict[str, Pipeline]:
    """Register the project's pipeline.

    Returns:
        A mapping from a pipeline name to a ``Pipeline`` object.

    """
    data_processing_pipeline = dp.create_pipeline()
    data_science_pipeline = ds.create_pipeline()

    return {
        "__default__": data_processing_pipeline + data_science_pipeline,
        "dp": data_processing_pipeline,
        "ds": data_science_pipeline,
    }
```

### Test pipeline
>Kedro run

>kedro run --parallel

>kedro run --runner=ThreadRunner\
>kedro run --runner=module.path.to.my.runner

### Slice a pipeline

> kedro run --pipeline=ds

### Visualise pipelines

You can install Kedro-Viz by running:

> pip install kedro-viz

Visualise a whole pipeline
> kedro viz

### Share a pipeline
To save a visualisation, run:
> kedro viz --save-file spaceflights_pipeline.json

This command will save a pipeline visualisation of your primary `__default__` pipeline as a JSON file called `spaceflights_pipeline.json`.

To visualise a saved pipeline, run:
>kedro viz --load-file spaceflights_pipeline.json

In [27]:
import pandas as pd

object = pd.read_pickle(r"C:\Users\ASUS\Desktop\Career\Python\GitHub\msm_viz\spaceflights-kedro\data\06_models\regressor.pickle\2021-09-07T19.04.46.625Z\regressor.pickle")

object

LinearRegression()

In [40]:
import pickle
import os
import pandas as pd

file = os.path.abspath("C:\\Users\\ASUS\\Desktop\\Career\\Python\\GitHub\\msm_viz\\spaceflights-kedro\\data\\06_models\\regressor.pickle\\2021-09-07T19.47.30.167Z\\regressor.pickle")

infile = open(file,'rb')
new_dict = pickle.load(infile, encoding='latin1')
new_dict

LinearRegression()